@charset "utf-8";
body{
    height: auto;
    width: auto;
    margin: 0%;
    padding: 0%;
    background-image: url(img/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
  
}

.nav{
    background-color: #1C1C1D;
}
.nav-link{
    color: #FF1710;
}

.dropdown-menu{
    background-color: #1C1C1D;
}
.dropdown-item{
    color: #FF1710;
}
.nav-tabs {
    border-color: #1C1C1D;
}

.container-1{
    padding: 50px;
}
.col1{
    color: aliceblue;
    font-family: 'Press Start 2P', cursive;
    font-size: 35px;
}